.btn {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 15px 15px 17px;
  border: 0;
  background: none;
  font-weight: 600;
  font-size: 18px;
  font-family: inherit;
  line-height: 24px;
  cursor: pointer;
}

.btn-white {
  border-radius: 2px;
  background-color: $cl-white;
  color: $cl-darkgray;
  transition: opacity 0.1s;

  &:hover {
    opacity: 70%;
  }

  &:active {
    opacity: 40%;
  }
}

.btn-round {
  border-radius: 8px;
}

.btn-primary {
  background-color: $cl-primary;
  color: $cl-white;
}

.btn-stroke {
  border: 2px solid $cl-darkgray;
  color: $cl-darkgray;
}
