header.header.js-header
  .container.header__container
    //- Menu button
    button.header__menu-btn.js-menu-btn 
      span.visually-hidden Меню
      +svgIcon("menu", 20, 14)
      +svgIcon("close", 12, 12)
    //- Logo
    a.header__logo(href="#main-slide")
      svg(width='118' height='25' viewbox='0 0 118 25' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M102.713 20.7501C100.312 20.7501 98.4167 18.4999 98.4167 15.875C98.4167 13.1251 100.312 10.9999 102.713 10.9999C105.112 10.9999 107.009 13.2501 107.009 15.875C106.881 18.4999 104.987 20.7501 102.713 20.7501ZM102.839 7.1257C94.3733 7.1257 87.9307 10.875 87.9307 15.875C87.9307 20.9999 94.4995 24.8742 102.839 24.8742C111.303 24.8742 118 20.875 118 15.875C117.873 10.875 111.177 7.1257 102.839 7.1257ZM116.736 0.000488281H104.733V5.87501H116.736V0.000488281ZM101.07 0.000488281H89.0672V5.87501H101.07V0.000488281ZM74.5392 7.1257H63.673V25.0005H86.5418V18.9997H74.5392V7.1257ZM86.668 0.000488281H-0.000366211V5.87501H14.4027V25.0005H24.0034V5.87501H86.5418V0.000488281H86.668ZM47.3772 14.6243L39.2904 7.1257H25.3938L38.5328 18.9997V25.0005H49.2713V19.7493L62.4103 7.1257H55.4627L47.3772 14.6243Z' fill='currentColor')
    
    //- Navigation
    nav.header__nav.js-mobile-menu
      ul.header__nav-list 
        li.header__nav-item
          a.header__nav-link(href="#advantages")
            | Преимущества
        li.header__nav-item
          a.header__nav-link(href="#select") 
            | Подбор печи
        li.header__nav-item
          a.header__nav-link(href="#controls") 
            | Управление
        li.header__nav-item
          a.header__nav-link(href="#tylarium") 
            | Tylarium
        li.header__nav-item
          a.header__nav-link(href="#dealers") 
            | Где купить
        li.header__nav-item
          a.header__nav-link(href="#form") 
            | Стать дилером

    //- Phone
    a.header__phone(href="tel://+74995048848")
      | +7 499 504-88-48
