section#main-slide.main-slide
  .container.main-slide__container
    .main-slide__content
      h1.main-slide__title 
        | Универсальные электрокаменки Tylo&nbsp;Sense из&nbsp;Швеции
      a.btn.btn-white.main-slide__btn(href="#select")
        span Выбрать модель
        +svgIcon("arrow-right", 16, 16)
    .main-slide__image
      picture
        source(
          media="(min-width: 768px)"
          type="image/webp"
          srcset=`${require("@img/sections/slider-mobile.webp")}, ${require("@img/sections/slider.webp")} 2x`)
        source(
          media="(min-width: 768px)"
          srcset=`${require("@img/sections/slider-mobile.png")}, ${require("@img/sections/slider.png")} 2x`)
        source(
          type="image/webp"
          srcset=`${require("@img/sections/slider.webp")}, ${require("@img/sections/slider@2x.webp")} 2x`)
        img(
          src=require("@img/sections/slider.png")
          srcset=srcset=`${require("@img/sections/slider@2x.png")} 2x`
          alt="Универсальные электрокаменки Tylo Sense из Швеции"
          width="869"
          height="732"
        )
