/* stylelint-disable selector-max-compound-selectors */
.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: transparent;
  color: $cl-white;
  transition: background-color 0.3s, color 0.3s;

  &._scroll {
    background-color: $cl-white;
    color: $cl-black;
  }

  a,
  button {
    color: inherit;
    transition: opacity 0.1s;

    &:hover {
      opacity: 70%;
    }
  
    &:active {
      opacity: 40%;
    }
  }
}

.header__container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.header__menu-btn {
  display: none;
}

.header__logo {
  flex-shrink: 0;
  width: 118px;
  height: 25px;
  margin-right: 5.83vw;

  svg {
    width: 100%;
    height: 100%;
  }
}

.header__nav-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
}

.header__nav-item {
  display: block;
}

.header__nav-link {
  display: flex;
  padding: 8px;
}

.header__phone {
  flex-shrink: 0;
  margin-left: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
}

// Adaptive

@media (max-width: $md) {
  .header._menu-open {
    background-color: $cl-white;
    color: $cl-black;
  }

  .header__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header__menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 16px;
    padding: 5px 2px;
    border: none;
    background: none;
    cursor: pointer;

    svg:nth-of-type(2) {
      display: none;
    }
  }

  ._menu-open .header__menu-btn {
    svg:nth-of-type(1) {
      display: none;
    }

    svg:nth-of-type(2) {
      display: block;
    }
  }

  .header__logo {
    width: 72px;
    height: 15px;
  }

  ._menu-open .header,
  ._menu-open .header__nav {
    background-color: $cl-white;
    color: $cl-black;
  }

  .header__nav {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    overflow: hidden;
    width: 100%;
    padding: 18px 20px 54px;
    background-color: opacity;
    transition: background-color 0.3s;
  }

  ._menu-open .header__nav {
    display: flex;
    justify-content: center;
  }

  .header__nav-list {
    flex-flow: column nowrap;
    gap: 8px;
  }
}
