.main-slide {
  overflow: hidden;
  background-color: $cl-black;
  color: $cl-white;
}

.main-slide__container {
  display: flex;
  gap: 24px;
  align-items: center;
}

.main-slide__content {
  max-width: 500px;
}

.main-slide__title {
  margin: 0;
  margin-bottom: 47px;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
}

.main-slide__btn {
  max-width: 231px;
}

.main-slide__image {
  position: relative;
  flex-grow: 1;
  min-width: 300px;
  min-height: 648px;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: auto;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: $lg) {
  .main-slide__title {
    font-size: 40px;
    line-height: 50px;
  }
}

@media (max-width: $sm) {
  .main-slide__container {
    flex-direction: column;
    justify-content: center;
    padding-top: 75px;
  }

  .main-slide__content {
    text-align: center;
  }

  .main-slide__title {
    font-size: 35px;
    line-height: 42px;
  }

  .main-slide__btn {
    margin: auto;
  }

  .main-slide__image {
    min-width: unset;
    min-height: unset;
  
    img {
      position: static;
      width: 100%;
      transform: none;
    }
  }
}

@media (max-width: $xs) {
  .main-slide__title {
    font-size: 28px;
    line-height: 40px;
  }
}
