*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $cl-silver;
  color: $cl-darkgray;
  font-family: $proxima;
}

a {
  text-decoration: none;
}

.h2 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 80px;
  line-height: 96px;
  letter-spacing: -0.01em;
}

.h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.h4 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

.p {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 32px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
}

.container {
  width: 100%;
  max-width: $xl;
  margin: 0 auto;
  padding: 0 100px;
}
