// Color pallete
$cl-primary: #b72126;
$cl-white: #ffffff;
$cl-silver: #f5f5f7;
$cl-black: #000000;
$cl-darkgray: #1d1d1f;
$cl-lines: #cbcbcb;
$cl-text-secondary: #58585d;
$cl-text-footer: #757575;
$cl-stroke: #dbdddd;

// Breakpoints
$xl: 1440px;
$lg: 1280px;
$md: 1024px;
$sm: 768px;
$xs: 480px;
$xxs: 320px;

// Sizes
$padding: 104px;

// Fonts
$proxima: "ProximaNova", "Arial", sans-serif;
$proxima-condensed: "ProximaNova", "Arial", sans-serif;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
