@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "ProximaNova";
  src: url("@fonts/ProximaNova-Bold.woff2") format("woff2"), url("@fonts/ProximaNova-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: "ProximaNova";
  src: url("@fonts/ProximaNova-Extrabold.woff2") format("woff2"), url("@fonts/ProximaNova-Extrabold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "ProximaNova";
  src: url("@fonts/ProximaNova-Light.woff2") format("woff2"), url("@fonts/ProximaNova-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "ProximaNova";
  src: url("@fonts/ProximaNova-Regular.woff2") format("woff2"), url("@fonts/ProximaNova-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "ProximaNova";
  src: url("@fonts/ProximaNova-Semibold.woff2") format("woff2"), url("@fonts/ProximaNova-Semibold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 800;
  font-style: normal;
  font-family: "ProximaNovaCondensed";
  src: url("@fonts/ProximaNovaCondensed-Extrabold.woff2") format("woff2"), url("@fonts/ProximaNovaCondensed-Extrabold.woff") format("woff");
  font-display: swap;
}
