extends common/layout.pug

block body
  //- Icons
  include ./common/icons
  //- Header
  include ./blocks/header

  //- Sections
  include ./blocks/main-slide
  include ./blocks/advantages
  include ./blocks/articles
  include ./blocks/combi
  include ./blocks/select
  include ./blocks/goods
  include ./blocks/more
  include ./blocks/dealers
  include ./blocks/form

  //- Footer
  include ./blocks/footer
