mixin svgIcon(icon, width, height)
  svg(
    width= width
    height= height
  )
    use(xlink:href=`#${icon}`)

//- Example of custom svg-pack mixin:
  mixin icons(name, width, height)
    +svgIcon("icons", name, width, height)
