svg(viewbox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style="display:none")
  style.
    :root>svg{display:none}:root>svg:target{display:block}
  svg#adv-70-years(fill='none' viewbox='0 0 64 64' xmlns='http://www.w3.org/2000/svg')
    path(d='M3.744 39a1 1 0 01-.892-1.45l11.421-22.616a.147.147 0 00-.131-.213H1a1 1 0 01-1-1V9a1 1 0 011-1h21.008a1 1 0 011 1v5.483a1 1 0 01-.107.45L11.054 38.45a1 1 0 01-.893.55H3.744z' fill='#1D1D1F')
    path(d='M38 40c4.772 0 8.317-2.132 10.636-5.363C50.93 31.44 52 27.215 52 22.977c0-4.239-1.07-8.454-3.365-11.639C46.315 8.118 42.77 6 38 6c-4.77 0-8.315 2.119-10.635 5.338C25.07 14.523 24 18.738 24 22.977c0 4.238 1.07 8.464 3.364 11.66C29.683 37.867 33.228 40 38 40zm0-9.06c-.743 0-1.324-.175-1.793-.473-.472-.3-.886-.762-1.231-1.419-.705-1.341-1.067-3.387-1.067-6.071 0-2.684.362-4.718 1.066-6.046.344-.65.756-1.105 1.228-1.403.469-.295 1.052-.469 1.797-.469.745 0 1.328.174 1.797.47.472.297.884.753 1.229 1.402.703 1.328 1.065 3.361 1.065 6.046 0 2.684-.362 4.73-1.067 6.071-.345.657-.759 1.118-1.231 1.419-.469.298-1.05.474-1.793.474z' fill='#1D1D1F' stroke='#fff' stroke-width='2')
    path(d='M61.118 26.336c-.598 2.9-3.112 5.21-5.189 6.582-.273.66-.584 1.375-.923 2.1l.057-.036c2.956-1.812 5.84-2.171 6.911-2.125.094.382-.018 1.73-1.217 4.066-1.498 2.922-4.719 5.468-7.594 5.573a8.186 8.186 0 01-2.684-.364c-.428.524-.877 1.039-1.355 1.542 2.164.136 4.705 1.726 5.715 2.513-.821.876-3.398 3.04-7.13 4.69-2.985 1.32-5.354-.266-6.653-1.8-.9.336-1.827.62-2.753.853.483.152.943.349 1.363.598 2.653 1.575 3.002 4.407 2.844 5.626-.495.242-1.873.78-3.429.993l-.4.057c-1.72.247-2.92.42-5.378-1.41-1.777-1.323-2.268-3.634-2.31-5.105-.217-.018-.427-.04-.63-.067a168.847 168.847 0 01-3.543-.529c.687.5 1.32 1.1 1.818 1.81 1.798 2.564 1.548 5.132 1.199 6.095-.658.015-2.246-.053-3.33-.445-.17-.061-.347-.12-.53-.182-1.282-.431-2.882-.969-4.586-3.007-1.167-1.395-.822-3.52-.254-5.067a37.084 37.084 0 00-2.802-.216c-2.656-.086-5.06.796-5.87 1.215a1.001 1.001 0 11-.923-1.78c1.048-.542 3.79-1.537 6.858-1.438.89.029 1.88.11 2.918.224.756-1.509 2.903-4.375 6.186-5.08 3.42-.732 6.26 1.516 7.253 2.731-.372.652-1.8 2.235-4.53 3.351-.17.07-.342.138-.513.203.32.047.626.09.915.129 1.107.147 2.549.127 4.131-.073.354-2.095 1.214-4.78 3.002-6.275 2.47-2.065 5.313-2.345 6.425-2.226.044 1.063-.127 3.27-.98 5.196.638-.29 1.386-.599 2.162-.867a20.363 20.363 0 001.957-1.742c-.559-.389-2.122-1.732-1.9-4.999.258-3.777 3.109-7.044 4.97-8.483.117-.202.604.067 1.604 2.756.515 1.384.48 2.867.233 4.143a39.035 39.035 0 001.489-3.08c-.529-1.611-1.12-4.069.237-7.462 1.274-3.186 4.946-5.08 6.873-5.524.43.493 1.089 2.45.286 6.336z' fill='#B72126')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M53.125 29.572c.02-1.12.243-2.406.83-3.866 1.274-3.169 4.945-5.053 6.872-5.495.43.49 1.088 2.438.286 6.302-.434 2.091-1.874 3.874-3.424 5.216a16.82 16.82 0 01-1.764 1.33 70.255 70.255 0 01-.34.799 49.726 49.726 0 01-.55 1.217l-.033.073.057-.035a15.154 15.154 0 013.616-1.601c1.474-.433 2.68-.54 3.294-.513.036.15.041.449-.04.898a7.825 7.825 0 01-.29 1.094 14.886 14.886 0 01-.888 2.053c-1.497 2.905-4.717 5.437-7.592 5.542-.25.01-.495.006-.734-.008a8.417 8.417 0 01-1.95-.354l-.14.169c-.385.463-.788.919-1.213 1.365h.008c.274.018.554.059.836.118.459.096.923.242 1.377.417.199.077.395.159.588.245.419.188.82.394 1.192.602.722.406 1.328.82 1.712 1.117-.295.313-.815.79-1.534 1.35a26.823 26.823 0 01-5.595 3.316c-1.964.863-3.66.475-4.962-.326a7.23 7.23 0 01-1.689-1.465 26.764 26.764 0 01-2.752.849c.478.15.933.342 1.35.587l.013.007c.4.237.749.502 1.05.786.239.224.448.46.632.703 1.122 1.483 1.276 3.222 1.16 4.106-.494.241-1.871.777-3.427.988l-.4.057c-1.72.246-2.92.417-5.377-1.403-.683-.506-1.176-1.157-1.526-1.85a7.11 7.11 0 01-.559-1.545 8.33 8.33 0 01-.225-1.682 12.663 12.663 0 01-.823-.093c-.369-.05-.755-.105-1.156-.165-.64-.094-1.314-.199-2.01-.306l-.183-.029.027.02.142.105a7.663 7.663 0 011.65 1.676 8.504 8.504 0 01.682 1.153c.26.534.44 1.057.56 1.554.36 1.49.178 2.745-.044 3.355-.658.015-2.245-.053-3.33-.443-.17-.061-.346-.12-.53-.181-1.28-.429-2.88-.964-4.584-2.99-.719-.855-.864-1.986-.736-3.088a8.58 8.58 0 01.482-1.953l-.037-.004a42.359 42.359 0 00-2.02-.175 26.586 26.586 0 00-.744-.035 11.37 11.37 0 00-.495-.005c-2.455.027-4.615.823-5.374 1.213a1.006 1.006 0 01-1.352-.426.994.994 0 01.43-1.343l.002-.002.1-.05c1.117-.549 3.783-1.475 6.754-1.38.889.029 1.88.11 2.917.223l.001-.001c.756-1.501 2.902-4.35 6.184-5.05 2.76-.59 5.144.755 6.482 1.931.319.28.578.551.77.784-.208.36-.741 1.007-1.642 1.7a12.168 12.168 0 01-2.414 1.43c-.154.07-.311.137-.473.203-.172.07-.343.137-.514.202a81.101 81.101 0 00.915.128 9.584 9.584 0 00.524.055l.029.002c.759.059 1.637.05 2.587-.026.322-.027.653-.06.99-.103.043-.252.093-.513.151-.779.166-.754.396-1.551.71-2.322.226-.556.495-1.099.814-1.6a6.581 6.581 0 011.326-1.54 9.83 9.83 0 014.808-2.15c.367-.053.701-.08.99-.086.244-.006.455.003.625.021a11.4 11.4 0 01-.077 1.697c-.036.316-.085.652-.15.998-.153.803-.391 1.664-.751 2.473a25.285 25.285 0 012.16-.862 19.489 19.489 0 00.456-.365c.533-.439 1.03-.895 1.5-1.368a3.922 3.922 0 01-.913-.898 4.493 4.493 0 01-.25-.377 5.12 5.12 0 01-.553-1.356 7.014 7.014 0 01-.203-1.818c.002-.168.008-.342.02-.523.258-3.756 3.108-7.005 4.968-8.437.058-.098.202-.085.45.262.082.114.175.264.28.458.088.163.184.358.29.588a15.236 15.236 0 01.141.32c.135.314.283.682.444 1.113a6.56 6.56 0 01.357 1.501c.105.904.034 1.804-.125 2.62.32-.582.626-1.19.913-1.797l.043-.09a45.338 45.338 0 00.533-1.178c-.147-.446-.3-.959-.413-1.539a9.524 9.524 0 01-.18-2.015zm-1.782-2.108a13.85 13.85 0 01.75-2.498c.827-2.06 2.385-3.601 3.898-4.66 1.511-1.057 3.147-1.753 4.385-2.037L61.55 18l.79.903c.608.694.95 1.782 1.085 2.969.146 1.278.088 2.946-.347 5.044-.323 1.556-1.06 2.933-1.97 4.114.367-.028.687-.033.948-.022l1.503.065.358 1.452c.165.669.063 1.484-.124 2.242-.21.85-.6 1.911-1.256 3.185-.897 1.74-2.283 3.328-3.86 4.507-.983.733-2.104 1.355-3.292 1.733.262.178.493.345.684.493l1.73 1.342-1.5 1.592c-1.009 1.071-3.807 3.38-7.781 5.127-1.592.7-3.052.793-4.335.539.379 1.238.413 2.393.315 3.14l-.138 1.063-.967.472c-.655.32-2.239.928-4.04 1.173l-.272-1.975.272 1.975-.386.055-.093.013c-.804.116-1.822.262-2.976.046-1.225-.229-2.42-.82-3.793-1.837a8.538 8.538 0 01-.074-.056 6.165 6.165 0 01-.306 1.33l-.467 1.283-1.374.03c-.723.017-2.614-.042-4.057-.56a23.2 23.2 0 00-.487-.167l.64-1.89-.64 1.89c-1.396-.467-3.423-1.149-5.485-3.602-.987-1.174-1.259-2.571-1.243-3.767.003-.255.02-.508.046-.757-.13-.007-.258-.012-.383-.016-2.245-.072-4.31.692-4.88.986a3.019 3.019 0 01-4.057-1.279l1.781-.917-1.781.917a2.98 2.98 0 011.287-4.03c1.287-.663 4.368-1.765 7.844-1.654.568.018 1.166.056 1.781.108 1.23-1.812 3.518-4.186 6.836-4.893 2.259-.482 4.288.028 5.845.792.787.386 1.482.85 2.061 1.32.42-.597.91-1.151 1.482-1.627 2.427-2.019 5.162-2.633 6.926-2.696.003-.17.011-.345.023-.524.16-2.328 1.111-4.411 2.213-6.059 1.063-1.587 2.334-2.876 3.402-3.721.23-.215.534-.405.922-.503a2.145 2.145 0 011.383.116z' fill='#fff')
  svg#adv-crane(fill='none' viewbox='0 0 64 64' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M46.03 20.87c-1.31-.357-2.772-.623-3.53-.37-.348.116-.67.259-.995.404-1.077.48-2.201.98-4.505.596-3-.5-23-4-25.5-4.5S3.421 14.288 5 8.5c1.579-5.789 7.5-5 9.5-4S22 7 25 7c.445 0 .978-.022 1.57-.047 3.397-.14 8.727-.36 10.43 3.047 2 4 4 5.5 6 5 .445-.111 1.013-.322 1.656-.56 2.247-.83 5.4-1.995 7.344-.44.466.373.833.716 1.118 1.029a6.5 6.5 0 00-7.088 5.84zM12 9.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z' fill='#1D1D1F')
    path(d='M9.213 18.605c.89 4.608 2.419 12.42 2.787 13.895.5 2-.5 3-2 4-1.2.8-1.5 2.666-1.5 3.5H33c-.183-.256-.357-.544-.545-.853-.669-1.101-1.503-2.476-3.455-3.647-1.546-.928-2-1.5-3-4-.698-1.746-2.971-7.175-4.425-10.633L9.213 18.605zM7.353 44h27.294L40 57H2l5.353-13z' fill='#1D1D1F')
    path(d='M1 56.5A1.5 1.5 0 012.5 55h37a1.5 1.5 0 110 3h-37A1.5 1.5 0 011 56.5zM6 43.312a1.5 1.5 0 011.5-1.5h27a1.5 1.5 0 110 3h-27a1.5 1.5 0 01-1.5-1.5z' fill='#1D1D1F')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M17.331 46.085a1 1 0 011.319.512l2.562 5.812a1 1 0 01-1.83.807l-2.562-5.812a1 1 0 01.511-1.319zM13.769 48.992a1 1 0 011.318.511l1.281 2.906a1 1 0 11-1.83.807l-1.28-2.906a1 1 0 01.51-1.319zM27.018 46.085a1 1 0 011.319.512l2.562 5.812a1 1 0 11-1.83.807l-2.562-5.812a1 1 0 01.511-1.319zM22.175 46.085a1 1 0 011.318.512l2.563 5.812a1 1 0 11-1.83.807l-2.563-5.812a1 1 0 01.512-1.319z' fill='#fff')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M52.5 26a4.5 4.5 0 100-9 4.5 4.5 0 000 9zm0-3a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM49.562 27.3c.063 1.413.133 2.873.188 3.7.09 1.337.782 2.007 1.626 2.28l-.001.033V38a1 1 0 102 0v-4.694c.936-.274 1.75-.989 1.75-2.306 0-.715.098-2.158.219-3.653A6.475 6.475 0 0152.5 28a6.472 6.472 0 01-2.938-.7z' fill='#1D1D1F')
    path(d='M45.108 42.197a1 1 0 011.089-1.086l6.3.585a1 1 0 00.187 0l6.137-.584a1 1 0 011.092 1.07l-1.317 17.891a1 1 0 01-.998.927H47.72a1 1 0 01-.996-.91l-1.616-17.893z' fill='#B72126')
  svg#adv-puzzle(fill='none' viewbox='0 0 64 64' xmlns='http://www.w3.org/2000/svg')
    path(d='M20.459 34.364h1v-1c0-.536.188-.75.453-1.048.12-.136.256-.29.397-.5a5.836 5.836 0 10-9.687 0c.071.106.154.194.195.238l.097.1.047.048c.09.093.171.184.246.29.138.197.266.464.266.872v1h6.986z' fill='#1D1D1F' stroke='#fff' stroke-width='2')
    path(d='M31.928 40.358l.105 1.26a4.105 4.105 0 00-.416-.324 5.836 5.836 0 100 9.687l-.52-.772.52.772c.106-.071.194-.154.237-.195l.1-.096.048-.048.035-.033-.098 1.173c-.417 5.014 3.768 9.203 8.783 8.79l5.204-.43a6.14 6.14 0 011.01 0l5.243.433c5 .412 9.178-3.751 8.785-8.752l-.41-5.204a6.125 6.125 0 010-.963l.42-5.338c.39-4.949-3.702-9.09-8.655-8.762l-5.889.39-5.85-.388c-4.968-.33-9.065 3.838-8.652 8.8z' fill='#B72126' stroke='#fff' stroke-width='2')
    path(d='M40.502 31.872l1.26-.105a4.103 4.103 0 00-.324.416 5.836 5.836 0 109.687 0l-.772.52.772-.52a1.89 1.89 0 00-.195-.237l-.096-.1-.047-.048a10.657 10.657 0 01-.034-.035l1.173.097c5.014.419 9.203-3.767 8.79-8.782l-.43-5.204a6.14 6.14 0 010-1.01l.433-5.243c.413-5-3.751-9.178-8.752-8.785l-5.204.41a6.14 6.14 0 01-.963 0l-5.338-.42c-4.948-.39-9.09 3.702-8.762 8.655l.39 5.889-.387 5.85c-.33 4.968 3.838 9.065 8.8 8.652z' fill='#1D1D1F' stroke='#fff' stroke-width='2')
    path(d='M32.072 23.045l-.105-1.26c.116.1.248.21.416.324a5.836 5.836 0 100-9.687l.52.772-.52-.772a1.865 1.865 0 00-.237.195l-.1.096-.048.048-.035.033.097-1.173c.418-5.014-3.767-9.203-8.782-8.79l-5.204.43a6.142 6.142 0 01-1.01 0l-5.243-.433c-5-.412-9.178 3.751-8.785 8.752l.41 5.204c.025.32.025.643 0 .963l-.42 5.338c-.39 4.948 3.702 9.09 8.655 8.762l5.889-.39 5.85.387c4.968.33 9.065-3.837 8.652-8.8z' fill='#1D1D1F' stroke='#fff' stroke-width='2')
    path(d='M23.245 32.128l-1.26.105c.101-.116.211-.248.324-.416a5.836 5.836 0 10-9.687 0l.772-.52-.772.52c.071.105.154.193.195.237a11.257 11.257 0 00.177.183l-1.173-.098c-5.014-.418-9.203 3.767-8.79 8.782l.43 5.204c.027.336.027.674 0 1.01l-.433 5.243c-.412 5 3.751 9.179 8.752 8.785l5.204-.41c.32-.024.643-.024.963 0l5.338.42c4.949.39 9.09-3.701 8.762-8.654l-.39-5.889.388-5.85c.33-4.968-3.838-9.066-8.8-8.652z' fill='#1D1D1F' stroke='#fff' stroke-width='2')
    path(d='M34.353 49.064v1h-1c-.535 0-.748.188-1.048.453-.136.12-.29.256-.499.397a5.836 5.836 0 110-9.687c.106.071.194.154.237.195l.1.097.049.047c.092.09.184.171.29.246.196.138.464.266.871.266h1v6.986z' fill='#B72126' stroke='#fff' stroke-width='2')
    path(d='M33.002 41.257c.4 4.433.182 8.252.015 9.62l.552 1.63 4.072 2.07.401-11.75c-1.847-2.37-5.441-6.002-5.04-1.57z' fill='#B72126')
  svg#adv-quality(fill='none' viewbox='0 0 64 64' xmlns='http://www.w3.org/2000/svg')
    circle(cx='32.026' cy='30.558' r='22.291' fill='#1D1D1F')
    path(d='M13.776 8.673l2.451 6.905 11.338-6.281-5.333-5.808a2 2 0 00-2.527-.347l-5.099 3.162a2 2 0 00-.83 2.369zM50.468 52.36l-2.452-6.904-11.338 6.28 5.334 5.809a2 2 0 002.527.347l5.098-3.162a2 2 0 00.831-2.37zM60.23 25.381l-7.206-1.33-.23 12.96 7.697-1.714a2 2 0 001.565-2.015l-.19-5.997a2 2 0 00-1.636-1.904zM3.77 25.381l7.206-1.329.23 12.96-7.697-1.715a2 2 0 01-1.564-2.015l.189-5.997a2 2 0 011.636-1.904zM41.815 3.48L37.06 9.057l11.108 6.68 2.364-7.524a2 2 0 00-.963-2.362l-5.288-2.834a2 2 0 00-2.467.465zM22.429 57.553l4.754-5.576-11.109-6.679-2.363 7.523a2 2 0 00.963 2.363l5.288 2.834a2 2 0 002.467-.465z' fill='#1D1D1F')
    path(d='M31.449 23.547a1.2 1.2 0 00-.095-.018l-.475-.1-1.74-.38c-1.06-.234-1.837-.36-2.397-.418-.912-.093-1.88.223-2.568.74-.49.368-1.18.937-2.133 1.795-1.187 1.067-1.709 2.18-1.719 3.23l.001.1c-.273.05-.495.168-.641.261a3.341 3.341 0 00-.621.528c-.604.64-.714 1.475-.698 2.084.015.534.011 1.37-.049 2.552-.085 1.687.384 2.816 1.056 3.454a4.206 4.206 0 00.507.399c.142.1.205.15.247.194.679.707 1.552 1.738 2.232 2.813.71 1.124 1.084 2.1 1.044 2.754-.077 1.231.33 2.608.814 3.783a20.18 20.18 0 001.607 3.074l.841-.54-.841.54a5.273 5.273 0 00.118.175l.014.021a.137.137 0 01-.028.003h-2.24a2 2 0 00-2 2v7.63a2 2 0 002 2h18.063a2 2 0 002-2v-7.63a2 2 0 00-2-2h-2.602c0-.09 0-.187.002-.287.01-.541.043-1.14.072-1.55.38-2.244 1.282-7.478 1.914-10.862.436-2.335.437-3.805.254-4.677a4.258 4.258 0 00-.269-.797l-.039-.09c-.075-.177-.124-.291-.16-.408L36.27 16.46l-.007-.022-.008-.022c-.284-.804-.87-2.508-1.036-3.13h0a1.794 1.794 0 00-.103-.287s0 0 0 0l-.908.417-2.758 10.131z' fill='#B72126' stroke='#fff' stroke-width='2')
    path(d='M21.408 30.756h0c-.012-.006-.013-.007 0 0zm.866 1.302c.179 1.723.855 2.837 1.422 3.294l1.652 1.494a3 3 0 002.013.775h.811a3 3 0 002.469-1.296l1.102-1.596a2.69 2.69 0 00.18-2.751l-1.581-3.095-.89.456.89-.456c-.321-.627-.9-1.211-1.723-1.403l-.227.974.227-.974a8.13 8.13 0 00-2.066-.21c-.918.029-1.601.577-2.027 1.016-.341.351-.643.571-.967.682-.295.1-.699.14-1.304-.023a1.184 1.184 0 00-.26-.08 1.004 1.004 0 00-.992 1.576l.002.002c.03.044.06.08.077.099.035.04.072.08.1.107.04.043.083.086.128.13.094.095.197.199.322.334.176.192.346.396.472.591.137.211.167.328.17.354z' fill='#1D1D1F' stroke='#fff' stroke-width='2')
  svg#adv-safety(fill='none' viewbox='0 0 64 64' xmlns='http://www.w3.org/2000/svg')
    path(d='M8.869 10.316L28.479 6l19.609 4.316a2.39 2.39 0 011.343.828c.34.42.525.941.526 1.479v23.605c0 2.335-.583 4.634-1.695 6.692a14.232 14.232 0 01-4.682 5.108L28.478 58l-15.101-9.972a14.23 14.23 0 01-4.682-5.107A14.074 14.074 0 017 36.231V12.623c0-.538.185-1.06.525-1.479a2.39 2.39 0 011.344-.828z' fill='#1D1D1F')
    path(d='M58.167 33.833v-1H49.479c-2.71 0-5.215.893-7.232 2.398C40.645 29.891 35.695 26 29.833 26H22v6.125c0 7.157 5.802 12.958 12.958 12.958h2.417V58.75h5.417v-8.542h3.27c6.686 0 12.105-5.419 12.105-12.104v-4.27z' fill='#B72126' stroke='#fff' stroke-width='2')
    path(d='M29.833 30.417h-3.416v1.708a8.543 8.543 0 008.541 8.542h3.417v-1.708a8.543 8.543 0 00-8.542-8.542zM53.75 37.25h-4.271a7.688 7.688 0 00-7.688 7.688v.854h4.271a7.688 7.688 0 007.688-7.688v-.854z' fill='#fff')
  svg#adv-support(fill='none' viewbox='0 0 64 64' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M28.044 50.087c12.174 0 22.043-9.87 22.043-22.044C50.087 15.87 40.217 6 28.043 6 15.87 6 6 15.87 6 28.044a21.95 21.95 0 004.788 13.719L8.105 51.776l12.1-3.124a21.993 21.993 0 007.839 1.435z' fill='#1D1D1F')
    mask#fa(maskunits='userSpaceOnUse' x='32.261' y='32.261' width='30' height='29' fill='#000')
      path(fill='#fff' d='M32.261 32.261h30v29h-30z')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M46.13 58c-6.555 0-11.869-5.314-11.869-11.87 0-6.555 5.314-11.87 11.87-11.87 6.555 0 11.87 5.315 11.87 11.87 0 1.797-.4 3.5-1.114 5.026l1.761 6.574-6.546-1.34A11.815 11.815 0 0146.131 58z')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M46.13 58c-6.555 0-11.869-5.314-11.869-11.87 0-6.555 5.314-11.87 11.87-11.87 6.555 0 11.87 5.315 11.87 11.87 0 1.797-.4 3.5-1.114 5.026l1.761 6.574-6.546-1.34A11.815 11.815 0 0146.131 58z' fill='#B72126')
    path(d='M56.887 51.156l-1.812-.848-.31.661.19.705 1.932-.518zm1.761 6.574l-.4 1.96 3.17.648-.838-3.126-1.932.518zm-6.546-1.34l.401-1.959-.749-.153-.66.385 1.008 1.728zM32.261 46.13c0 7.66 6.21 13.87 13.87 13.87v-4c-5.451 0-9.87-4.419-9.87-9.87h-4zm13.87-13.87c-7.66 0-13.87 6.21-13.87 13.87h4c0-5.45 4.419-9.87 9.87-9.87v-4zM60 46.13c0-7.66-6.21-13.87-13.87-13.87v4c5.45 0 9.87 4.42 9.87 9.87h4zm-1.303 5.874A13.825 13.825 0 0060 46.13h-4a9.823 9.823 0 01-.925 4.178l3.623 1.696zm1.882 5.209l-1.761-6.574-3.864 1.035 1.761 6.574 3.864-1.035zM51.7 58.35l6.546 1.34.802-3.92-6.546-1.339-.802 3.919zM46.131 60c2.54 0 4.927-.685 6.979-1.882l-2.016-3.455A9.815 9.815 0 0146.131 56v4z' fill='#fff' mask='url(#fa)')
    path(d='M42 47c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm4 0c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm4 0c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1z' fill='#fff')
    path(d='M18.435 21.826h19.782M18.435 27.609h19.782M18.435 33.392h10.174' stroke='#fff' stroke-width='2' stroke-linecap='round')
  svg#arrow-left(fill='none' viewbox='0 0 46 34' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M17.457.668a1 1 0 010 1.414L1.832 17.707a1 1 0 01-1.414-1.414L16.043.668a1 1 0 011.414 0z' fill='#1D1D1F')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M17.457 33.332a1 1 0 000-1.414L1.832 16.293a1 1 0 00-1.414 1.414l15.625 15.625a1 1 0 001.414 0z' fill='#1D1D1F')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M1.125 16h43.75a1 1 0 110 2H1.125a1 1 0 110-2z' fill='#1D1D1F')
  svg#arrow-right(fill='none' viewbox='0 0 46 34' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M28.543 33.332a1 1 0 010-1.414l15.625-15.625a1 1 0 011.414 1.414L29.957 33.332a1 1 0 01-1.414 0z' fill='#1D1D1F')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M28.543.668a1 1 0 000 1.414l15.625 15.625a1 1 0 001.414-1.414L29.957.668a1 1 0 00-1.414 0z' fill='#1D1D1F')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M44.875 18H1.125a1 1 0 110-2h43.75a1 1 0 110 2z' fill='#1D1D1F')
  svg#card-pult(fill='none' viewbox='0 0 64 64' xmlns='http://www.w3.org/2000/svg')
    path(d='M55.899 13.779a11.604 11.604 0 00-4.783-6.953 11.604 11.604 0 00-8.223-1.898m.679 3.58a7.977 7.977 0 015.497 1.326 7.976 7.976 0 013.25 4.627m-3.595.664a4.35 4.35 0 00-1.703-2.282 4.35 4.35 0 00-2.79-.744' stroke='#B72126' stroke-linecap='round' stroke-linejoin='round')
    rect(x='12.781' y='15.2' width='32' height='46.4' rx='1' fill='#1D1D1F')
    rect(x='17.581' y='31.2' width='11.2' height='22.4' rx='.5' transform='rotate(-90 17.58 31.2)' fill='#fff')
    rect(x='35.181' y='21.6' width='1.6' height='1.6' rx='.8' fill='#000')
    rect(x='22.881' y='22.1' width='3.8' height='3.8' rx='.5' stroke='#000')
    path(d='M23.18 28.8h1.6a1.6 1.6 0 001.6-1.6v-2.4' stroke='#000' stroke-linecap='round')
    path(d='M39.18 40.8h-6.4M24.78 40.8h-6.4M31.98 56.8h-6.4M35.981 37.6V44' stroke='#fff' stroke-linecap='round')
    path(d='M29.58 28.8h3.2v-3.57h-3.2V22.4h3.2' stroke='#000' stroke-linecap='round' stroke-linejoin='round')
  svg#card-steam-gen(fill='none' viewbox='0 0 64 64' xmlns='http://www.w3.org/2000/svg')
    path(d='M16.498 22.224a.5.5 0 01.548-.515l14.6 1.411a.998.998 0 00.19 0l15.115-1.413a.5.5 0 01.546.52l-1.38 32.617a1 1 0 01-1 .957h-26.46a1 1 0 01-1-.964l-1.159-32.613z' fill='#1D1D1F')
    path(d='M18.8 55.056h26.387l-.508 4.673a1 1 0 01-.94.89l-11.865.646-11.791-.644a1 1 0 01-.943-.925l-.34-4.64z' fill='#1D1D1F')
    path(d='M42.859 29.995h-6.21' stroke='#fff' stroke-linecap='round')
    path(d='M19.983 18.628l-.427 1.702a.5.5 0 00.431.619l11.72 1.281a.507.507 0 00.108 0l11.616-1.255a.49.49 0 00.351-.767.491.491 0 01-.048-.088l-.362-.853-.498-1.274a.5.5 0 00-.082-.139l-1.218-1.453a.5.5 0 00-.35-.178l-2.904-.19a.5.5 0 00-.155.014l-1.378.345a.5.5 0 00-.182.088l-1.035.789a.5.5 0 00-.183.516l.438 1.795a.475.475 0 01-.034.32l-.077.159a.398.398 0 01-.757-.175v-.871a.5.5 0 00-.207-.406l-1.377-.992a.5.5 0 00-.444-.071l-1.132.362a.491.491 0 01-.073.017l-1.681.273a.5.5 0 00-.231.102l-.963.766a.5.5 0 00-.172.517l.098.38a.36.36 0 01-.1.352l-.113.106a.294.294 0 01-.495-.214.294.294 0 00-.01-.076l-.415-1.538a.5.5 0 00-.18-.267l-1.73-1.321a.5.5 0 00-.222-.096l-2.647-.438a.5.5 0 00-.49.204l-.373.528a.5.5 0 01-.152.14l-1.637.98a.5.5 0 00-.228.307z' fill='#1D1D1F')
    path(d='M20.042 14.703a6.626 6.626 0 117.845-10.681M36.136 12.29a4.888 4.888 0 00-9.777 0M44.252 12.289a3.567 3.567 0 10-5.755-4.216' stroke='#B72126' stroke-linecap='round')
  svg#close(fill='none' viewbox='0 0 14 14' xmlns='http://www.w3.org/2000/svg')
    path(d='M13 1L7 7m0 0l-6 6m6-6L1 1m6 6l6 6' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
  svg#menu(fill='none' viewbox='0 0 20 14' xmlns='http://www.w3.org/2000/svg')
    path(d='M1 7h18M1 1h18M1 13h18' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
  svg#minus(fill='none' viewbox='0 0 40 2' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M.25 1a1 1 0 011-1h37.5a1 1 0 110 2H1.25a1 1 0 01-1-1z' fill='currentColor')
  svg#plus(fill='none' viewbox='0 0 40 40' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M20 .25a1 1 0 011 1v37.5a1 1 0 11-2 0V1.25a1 1 0 011-1z' fill='currentColor')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M.25 20a1 1 0 011-1h37.5a1 1 0 110 2H1.25a1 1 0 01-1-1z' fill='currentColor')
  svg#plus-bold(fill='none' viewbox='0 0 50 50' xmlns='http://www.w3.org/2000/svg')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M21 21V0h8v21h21v8H29v21h-8V29H0v-8h21z' fill='currentColor')
